# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Local configuration
local.properties
*.keystore
*.jks

# IDE
.idea/
*.iml
.DS_Store
.kotlin/

# Android
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex
*.class
*.log
